---
// all this part is server codes
import Pokemon from "../components/Pokemon.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../types/pokemon-list.response";

const urlAPI = "https://pokeapi.co/api/v2/pokemon";

const getAPI = async () => {
  const response = await fetch(urlAPI);

  const data = (await response.json()) as PokemonListResponse;

  return data;
};

const data = await getAPI();
---

<MainLayout title="Vamos peine">
  <h1 class="text-3xl">
    Pokemon List (<b class="text-2xl">{data.results.length}</b>)
  </h1>

  <hr />

  <section
    aria-label="Pokemons List"
    class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 gap-4 my-4"
  >
    {data.results.map((item) => <Pokemon {...item} />)}
  </section>
</MainLayout>
