---
interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props as Props;
const id = url.split("/").at(-2);

const srcImage = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/shiny/${id}.png`;

console.log("data", { name, url, id });
---

<div
  class="d-flex justify-center align-middle text-center p-3 mt-4 mb-1
  border-gray-600 rounded border"
>
  <img
    src={srcImage}
    class="cursor-pointer grayscale-[80%] opacity-30 blur-sm
    transition-all duration-200 delay-0 ease-in
    hover:grayscale-0 hover:opacity-100 hover:blur-0"
    alt={name}
  />
  <span class="text-slate-200 tracking-[.25rem] capitalize">{name}</span>
</div>
